<template>
	<header class="site-header">
		<div class="container flex">
			<headerLogoNav />
			<headerMenuNav />
			<headerProfileNav />
		</div>
	</header>
</template>

<script>
export default {
	name: 'Header'
}
</script>

<style lang="scss" scoped>
	.site-header {
		.container {
			padding: 25px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
</style>
