<template>
	<ul class="navbar-menu">
		<li class="menu-item">Tempat Camping</li>
		<li class="menu-item">Aktivitas</li>
		<li class="menu-item">Artikel</li>
	</ul>
</template>

<style lang="scss" scoped>
.navbar-menu {
    list-style: none;
    display: flex;
    padding-left: 0;
	font-weight: 500;
	gap: 3px;
	margin-bottom: 0;
	.menu-item {
		color: #252525;
		padding: 0 10px;
		cursor: pointer;
	}
}
</style>
