<template>
	<div class="profile-nav-container">
		<div class="profile-nav-item mr-16">
			<span class="bzi-cooperation-icon"></span>
			<span class="font-medium color-green pl-8">Jadi Mitra KEMAHAJA</span>
		</div>
		<div class="profile-nav-item mr-24">
			<span class="bzi-indonesian-flag">
				<span class="path1"></span><span class="path2"></span>
			</span>
			<span class="pl-8">ID</span>
			<span class="bzi-dropdown-icon"></span>
		</div>
		<div class="profile-nav-item flex">
			<div class="container-circle">
				<span class="bzi-profile-icon"></span>
			</div>
			<span>Prayuda Riansyah</span>
			<span class="bzi-dropdown-icon"></span>
		</div>
	</div>
</template>

<style lang="scss" scoped>

.profile-nav-container {
	display: flex;
	align-items: center;
}
.profile-nav-item {

	font-size: 14px;
	.bzi-cooperation-icon {
		transform: scale(1.5);
	}

	&.flex {
		align-items: center;
		gap: 5.65px;
	}
	.container-circle {
		width: 36px;
		height: 36px;
		background-color: #D9D9D9;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
	
	.font-medium {
		font-weight: 500;
	}

	.color-green {
		color: #064635;
	}
	
}
</style>