<template>
    <div class="mt-32">
        <div class="left-header">
            <h4 class="mb-16">Brotherhood Camp</h4>
            <div class="rating">
                <div class="tag beach">
                    <span class="bzi-beach-icon mr-10"></span>
                    <span class="text-size-14">Pantai</span>
                </div>
                <div class="stars ml-12">
                    <span class="bzi-star-icon"></span>
                    <span class="bzi-star-icon"></span>
                    <span class="bzi-star-icon"></span>
                    <span class="bzi-star-icon"></span>
                    <span class="bzi-star-icon exclude"></span>
                </div>
                <span class="text-size-14 count">(180 Ulasan)</span>
            </div>
            <div>
                <span class="bzi-location-icon"></span>
                <span class="location">Jl. Ambarbinangun No.5C, Kabupaten Bantul, Daerah Istimewa Yogyakarta, Indonesia 55184</span>
            </div>
        </div>
        <div class="right-header">
            <div>
                <p class="mb-4">per kavling, per malam</p>
                <div class="">
                    <span class="text-color-90">IDR</span>
                    <span class="price">9.500.000</span>
                </div>
            </div>
            <button class="btn-kemahaja-primary">Pilih Camping Ground</button>
        </div>
    </div>
</template>

<style lang="scss" scoped>

.mt-32 {
    display: flex;
    justify-content: space-between;
}
.left-header {
    div:nth-child(2) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

h4 {
    font-weight: 700;
    font-size: 40px;
    color: #252525;
}

.tag {
    padding: 6px 10px;
    background-color: #CEF3E9;
    display: inline;
    border-radius: 4px;
    .text-size-14 {
        font-size: 14px;
        color: #0F5A46;
    }
    
    .mr-10 {
        margin-right: 8px;
    }
}

.stars {
    display: flex;
    gap: 1px;

    .bzi-star-icon.exclude:before {
        color: #FFE599;
    }
}

.text-size-14 {
    font-size: 14px;

    &.count {
        color: #565656;
        margin-left: 2px;
    }
}

.left-header {
    div:last-child {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 5px;
        
        .location {
            font-size: 14px;
            color: #6E6E6E;
        }
    }
}

.right-header {
    text-align: right;

    p {
        font-size: 14px;
        color: #6E6E6E;
    }
}
.price {
    font-weight: 700;
    font-size: 26px;
    color: #0F5A46;
}

.text-color-90 {
    color: #252525;
}
</style>
