<template>
    <div class="location-container">
        <h3 class="info-heading">Informasi Lokasi</h3>
        <div class="location-info-wrapper">
            <div class="maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108695.36586562156!2d110.34314644542006!3d-7.804702012454063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5787bd5b6bc5%3A0x21723fd4d3684f71!2sYogyakarta%2C%20Kota%20Yogyakarta%2C%20Daerah%20Istimewa%20Yogyakarta!5e0!3m2!1sid!2sid!4v1693279671706!5m2!1sid!2sid" width="600" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="location-info">
                <div class="location-address">
                    <span class="bzi-location-icon"></span>
                    <span class="location">Jl. Ambarbinangun No.5C, Kabupaten Bantul, Daerah Istimewa Yogyakarta, Indonesia 55184</span>
                </div>
                <p class="location-desc">Setelah memarkir kendaraan anda akan berjalan kaki sejauh 1km dari tempat parkir ke Camping Ground. Selama perjalanan akan ada seseorang yang berjaga di area trek destinasi.</p>
                <p class="access-heading">Akses Masuk Kendaraan</p>
                <div class="wrapper-access">
                    <div class="tag">
                        <span class="bzi-car-icon"></span>
                        <span class="tag-desc">Sepeda Motor</span>
                    </div>
                    <div class="tag">
                        <span class="bzi-car-icon"></span>
                        <span class="tag-desc">Mobil Pribadi</span>
                    </div>
                    <div class="tag">
                        <span class="bzi-car-icon"></span>
                        <span class="tag-desc">Minibus</span>
                    </div>
                    <div class="tag">
                        <span class="bzi-car-icon"></span>
                        <span class="tag-desc">Bus</span>
                    </div>
                </div>
                <div class="location-footer">
                    <span>Memiliki pertanyaan lebih lanjut?</span>
                    <div class="location-contact">
                        <span class="bzi-chat-icon"></span>
                        <span>Chat Owner Sekarang!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>

.location-container {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    padding: 10px;
    border-radius: 8px;
    margin-top: 30px;

    .info-heading {
        color: #252525;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 20px;
    }
}
.location-info-wrapper {
    display: flex;
    align-items: center;

    .maps {
        iframe {
            width: 470px;
            height: 305px;
            border: none;
            border-radius: 10px;
        }
    }

    .location-info {
        margin-left: 32px;
        .location-address {
            display: flex;
            align-items: center;
            gap: 12px;
            .bzi-location-icon:before {
                color: #252525;
                font-size: 24px;
            }

            .location {
                color: #252525;
                font-size: 18px;
            }
        }

        .location-desc {
            color: #565656;
            margin: 16px 0;
        }

        .access-heading {
            font-weight: 500;
        }

        .wrapper-access {
            .tag {
            padding: 8px 10px;
            min-width: max-content;
            background-color: #CEF3E9;
            display: inline;
            border-radius: 4px;

                .bzi-car-icon {
                    font-size: 24px;
                    line-height: 1;
                }
                .tag-desc {
                    font-size: 14px;
                    color: #0F5A46;
                    margin-left: 10px;
                    font-weight: 500;
                }
            }
        }

        .location-footer {
            color: #252525;
            display: flex;
            align-items: center;
            margin-top: 24px;
            
            .location-contact {
                color: #0F5A46;
                font-weight: 500;
                margin-left: 12px;
            }

            .bzi-chat-icon::before {
                color: #0F5A46;
                font-size: 24px;
            }
        }
        
    }
}
</style>