<template>
    <div class="wrapper">
        <img class="camp-1" src="~static/assets/img/camp-1.png" alt="" />
        <img class="camp-2" src="~static/assets/img/camp-2.png" alt="" />
        <img class="camp-3" src="~static/assets/img/camp-3.png" alt="" />
        <img class="camp-4" src="~static/assets/img/camp-4.png" alt="" />
        <img class="camp-5" src="~static/assets/img/camp-5.png" alt="" />
        <div class="count-info">
            <span class="bzi-images-icon"></span>
            <span class="count-value">120 Photo</span>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 41px;
    position: relative;
}

.camp-1 {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.camp-2 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.count-info {
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba($color: #252525, $alpha: .8);
    padding: 6px 10px;
    border-radius: 4px;
    right: 8.75px;
    bottom: 10px;

    .bzi-images-icon {
        font-size: 20px;
    }

    .count-value {
        font-size: 14px;
    }
}
</style>