<template>
    <div class="container">
        <DestinationHeading />
        <DestinationImage />
        <DestinationInfo />
        <DestinationLocation />
    </div>
</template>

<script>
export default {
	name: 'Destination'
}
</script>

<style lang="scss" scoped>
.container {
    width: 100%;
    margin: 32px 25px 0 25px;
}
</style>