<template>
    <div class="container-info">
        <div class="info-1 about">
            <div class="info-header">
                <h3 class="info-heading">Tentang Destinasi</h3>
                <div class="info-more">
                    <span>Selengkapnya</span>
                    <img src="~static/assets/img/breadcrumb-right-green.svg" alt="">
                </div>
            </div>
            <p class="info-desc">
                Saksikan matahari terbit dan terbenam di balik pegunungan, melihat hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan riak air yang jernih dari sungai yang mengalir hanya 30 menit dari
            </p>
        </div>

        <div class="info-2 facility">
            <h3 class="info-heading">Fasilitas Utama</h3>
            <div class="wrapper-facility">
                <div class="tag">
                    <span class="bzi-beach-icon"></span>
                    <span class="text-size-14">Toilet</span>
                </div>
                <div class="tag">
                    <span class="bzi-beach-icon"></span>
                    <span class="text-size-14">WIFI</span>
                </div>
                <div class="tag">
                    <span class="bzi-beach-icon"></span>
                    <span class="text-size-14">Tempat Parkir</span>
                </div>
                <div class="tag">
                    <span class="bzi-beach-icon"></span>
                    <span class="text-size-14">Musholla</span>
                </div>
                <div class="tag">
                    <span class="bzi-beach-icon"></span>
                    <span class="text-size-14">Area Bermasak</span>
                </div>
                <div class="tag">
                    <span class="bzi-beach-icon"></span>
                    <span class="text-size-14">Area Bermain</span>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.container-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .info-1 {
        width: 446px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
        padding: 10px;
        border-radius: 8px;

        .info-header {

            display: flex;
            justify-content: space-between;
            align-items: center;
            .info-heading {
                color: #252525;
                font-size: 24px;
                font-weight: 700;
                margin: 0;
            }
    
            .info-more {

                span {
                    color: #0F5A46;
                    font-weight: 700;
                }

                img {
                    stroke: none;
                    margin-left: 2px;
                    padding: 14.17px 7.5px;
                }
            }
        }

        .info-desc {
            display: block;
            margin-top: 20px;
            color: #3D3D3D;
        }
    }

    .info-2 {
        width: 641px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
        padding: 10px;
        border-radius: 8px;

        .info-heading {
            color: #252525;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
            margin-bottom: 20px;
        }

        .wrapper-facility {
            display: flex;

            gap: 24px;
            flex-wrap: wrap;
        }

        .tag {
            padding: 8px 10px;
            min-width: max-content;
            background-color: #CEF3E9;
            display: inline;
            border-radius: 4px;

            .bzi-beach-icon {
                font-size: 24px;
                line-height: 1;
            }
            .text-size-14 {
                font-size: 14px;
                color: #0F5A46;
                margin-left: 10px;
                font-weight: 500;
            }
        }
    }

}
</style>