<template>
	<ul class=" container list-nostyle breadcrumbs">
		<li>Camping Ground</li>
		<img src="~static/assets/img/breadcrumb-right.svg" alt="">
		<li>Yogyakarta</li>
		<img src="~static/assets/img/breadcrumb-right.svg" alt="">
		<li class="is-active">Brotherhood Camp</li>
	</ul>
</template>

<style lang="scss" scoped>
.breadcrumbs {
	display: flex;
	gap: 4px;
	margin-left: 25px;
	padding: 10px 0;

	img {
		padding: 0 7.5px;
	}

	li {
		font-size: 14px;
		color: #868686;
		cursor: pointer;

		&.is-active {
			color: #000;
		}
	}
}
</style>
