<template>
    <div class="container">
        <div class="packet-card packet-1">
            <div class="packet-image">
                <img src="~static/assets/img/packet-image.png" alt="">
                <h4>Paket Standar</h4>
            </div>
            <div class="packet-info">
                <p class="packet-heading">1 Kavling Camp Ground dengan berbagai fasilitas umum</p>
                <div class="capacity">
                    <div class="default-capacity">
                        <span class="bzi-camp-icon"></span>
                        <span class="default-count">1-2 Orang</span>
                    </div>
                    <div class="left-capacity">
                        <span class="capacity-count">Tersisa 8 Kaving lagi</span>
                    </div>
                </div>
                <hr>
                <div class="details">
                    <div class="detail-1">
                        <div class="tag">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Tenda</span>
                        </div>
                        <div class="tag">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Api Unggun</span>
                        </div>
                    </div>
                    <div class="detail-2">
                        <div class="tag disabled">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Tidak Bisa Refund</span>
                        </div>
                        <div class="tag disabled">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Tidak Bisa Reschedule</span>
                        </div>
                        <div class="tag">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Baca Kebijakan Pembatalan</span>
                        </div>
                    </div>
                    <div class="detail-3">
                        <span>per kavling, per malam</span>
                        <span class="default-price">IDR 4.000.000</span>
                        <span class="discount-price"><span>IDR</span><span>2.500.000</span></span>
                        <button class="btn-kemahaja-primary">Pesan</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="packet-card packet-2">
            <div class="packet-image">
                <img src="~static/assets/img/packet-image.png" alt="">
                <h4>Paket Deluxe</h4>
            </div>
            <div class="packet-info">
                <p class="packet-heading">1 Kavling Camp Ground dengan berbagai fasilitas lengkap</p>
                <div class="capacity">
                    <div class="default-capacity">
                        <span class="bzi-camp-icon"></span>
                        <span class="default-count">6-12 Orang</span>
                    </div>
                    <div class="left-capacity">
                        <span class="capacity-count">Tersisa 1 Kaving lagi</span>
                    </div>
                </div>
                <hr>
                <div class="details">
                    <div class="detail-1">
                        <div class="tag">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Tenda</span>
                        </div>
                        <div class="tag">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Api Unggun</span>
                        </div>
                        <div class="tag">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Kasur & Bantal</span>
                        </div>
                        <div class="tag">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Alat BBQ</span>
                        </div>
                        <div class="tag">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Kursi Meja</span>
                        </div>
                    </div>
                    <div class="detail-2">
                        <div class="tag disabled">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Tidak Bisa Refund</span>
                        </div>
                        <div class="tag disabled">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Tidak Bisa Reschedule</span>
                        </div>
                        <div class="tag">
                            <span class="bzi-beach-icon"></span>
                            <span class="tag-item">Baca Kebijakan Pembatalan</span>
                        </div>
                    </div>
                    <div class="detail-3">
                        <span>per kavling, per malam</span>
                        <span class="default-price">IDR 12.000.000</span>
                        <span class="discount-price"><span>IDR</span><span>9.500.000</span></span>
                        <button class="btn-kemahaja-primary">Pesan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.container {
    margin-top: 95px;
    margin-bottom: 100px;

    .packet-card {
        display: flex;
        width: 100%;
        gap: 24px;
        align-items: flex-start;

        &.packet-1 {
            margin-bottom: 30px;
        }

        .packet-image {
            min-width: 383px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
            h4 {
                padding: 13px 0 13px 12px;
                margin: 0;
            }
        }

        .packet-info {
            padding: 16px 20px;
            min-width: 713px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

            .packet-heading {
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 12px;

            }
            .capacity {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 11px;

                .default-capacity {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    .bzi-camp-icon:before {
                        font-size: 24px;
                        line-height: 1;
                    }

                    .default-count {
                        color: #565656;
                    }

                }
                .left-capacity {
                    color: #0F5A46;
                    font-size: 14px;
                }
            }

            .details {
                display: flex;
                justify-content: space-between;

                .detail-1, .detail-2, .detail-3 {
                    min-width: fit-content;
                }

                .tag {
                    display: flex;
                    gap: 10px;
                    color: #0F5A46;
                    font-weight: 500;
                    margin-bottom: 12px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .bzi-beach-icon:before {
                        font-size: 24px;
                        line-height: 1;
                    }

                    .tag-item {
                        min-width: fit-content;
                    }

                    &.disabled {
                        color: #B6B6B6;

                        .bzi-beach-icon:before {
                            color: #B6B6B6;
                        }
                    }
                }

                .detail-3 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    & > span:first-child {
                        color: #6E6E6E;
                        font-size: 14px;
                        margin-bottom: 4px;
                    }

                    .default-price {
                        text-decoration: line-through;
                        color: #DD2127;
                        font-size: 14px;
                        margin-bottom: 4px;
                    }

                    .discount-price {
                        margin-bottom: 16px;

                        & > span:first-child {
                            color: #252525;
                        }

                        & > span:nth-child(2) {
                            color: #0F5A46;
                            font-size: 22px;
                            font-weight: 700;
                            line-height: 1;
                        }
                    }

                    .btn-kemahaja-primary {
                        width: fit-content;
                        line-height: 1;
                    }
                }
            }
        }
    }
}
</style>