<template>
    <div class="container">
        <div class="search-card">
            <p>Tujuan</p>
            <div class="flex">
                <span class="icon bzi-map-location-icon"></span>
                <span class="search-value">Yogyakarta</span>
            </div>
        </div>

        <div class="search-card">
            <p>Tanggal Check-in</p>
            <div class="flex">
                <span class="icon bzi-calendar-icon"></span>
                <span class="search-value">13 Agustus 2023</span>
            </div>
        </div>

        <div class="search-card">
            <p>Tanggal Check-out</p>
            <div class="flex">
                <span class="icon bzi-calendar-icon"></span>
                <span class="search-value">14 Agustus 2023</span>
            </div>
        </div>

        <div class="search-card">
            <p>Pengunjung</p>
            <div class="flex">
                <span class="icon bzi-multiple-user-icon"></span>
                <span class="search-value">2 Dewasa, 1 Anak</span>
            </div>
        </div>

        <button class="btn-kemahaja-primary">Cari Sekarang</button>
    </div>
</template>

<style lang="scss" scoped>

.container {
    width: 100%;
    display: flex;
    padding: 12px 25px;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    margin-top: 12px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}
.search-card {

    p {
        color: #6E6E6E;
        margin-bottom: 24px;
    }

    .icon {
        font-size: 1.5em;
    }

    .flex {
        align-items: center;
        gap: 10px;
    }

    .search-value {
        font-size: 18px;
        font-weight: 500;
    }
}
</style>