<template>
    <div class="site-tabs">
        <ul class="tabs container">
            <li class="is-active">Info Umum</li>
            <li>Fasilitas</li>
            <li>Lokasi</li>
            <li>Camp Ground</li>
            <li>Review</li>
        </ul>
    </div>
</template>

<style lang="scss" scoped>
.site-tabs {
    width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

ul {
    list-style: none;
    padding-left: 25px;
    display: flex;
    gap: 2px;
    font-size: 14px;

    li {
        padding: 10px;
        font-weight: 500;
        color: #6E6E6E;
        cursor: pointer;

        &.is-active {
            color: #0F5A46;
            border-bottom: 1px solid #0F5A46;
        }
    }
}
</style>