@font-face {
  font-family: 'bz-icon';
  src:  url('~assets/fonts/bz-icon.eot?t29lr4');
  src:  url('~assets/fonts/bz-icon.eot?t29lr4#iefix') format('embedded-opentype'),
    url('~assets/fonts/bz-icon.ttf?t29lr4') format('truetype'),
    url('~assets/fonts/bz-icon.woff?t29lr4') format('woff'),
    url('~assets/fonts/bz-icon.svg?t29lr4#bz-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bzi-"], [class*=" bzi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bz-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  // line-height: normal;
  display: inline-block;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    display: inline-block;
  }
}

.bzi-2x:before {
  transform: scale(2);
}
.bzi-1_5x:before {
  transform: scale(1.5);
}
.bzi-1_2x:before {
  transform: scale(1.2);
}
.bzi-0_5x:before {
  transform: scale(0.5);
}

.bzi-180:before {
  transform: rotate(180deg);
}

// Icons
.bzi-images-icon:before {
  content: "\e900";
}
.bzi-beach-icon:before {
  content: "\e901";
  color: #0f5a46;
}
.bzi-chat-icon:before {
  content: "\e902";
  color: #0f5a46;
}
.bzi-dropdown-icon:before {
  content: "\e903";
}
.bzi-cooperation-icon:before {
  content: "\e904";
  color: #064635;
}
.bzi-indonesian-flag .path1:before {
  content: "\e905";
  color: rgb(250, 250, 250);
}
.bzi-indonesian-flag .path2:before {
  content: "\e906";
  margin-left: -1.349609375em;
  color: rgb(221, 33, 39);
}
.bzi-profile-icon:before {
  content: "\e907";
  color: #707070;
}
.bzi-multiple-user-icon:before {
  content: "\e908";
  color: #0f5a46;
}
.bzi-calendar-icon:before {
  content: "\e909";
  color: #0f5a46;
}
.bzi-map-location-icon:before {
  content: "\e90a";
  color: #0f5a46;
}
.bzi-star-icon:before {
  content: "\e90b";
  color: #ffbf00;
}
.bzi-location-icon:before {
  content: "\e90c";
  color: #6e6e6e;
}
.bzi-car-icon:before {
  content: "\e90d";
  color: #0f5a46;
}
.bzi-camp-icon:before {
  content: "\e90e";
  color: #565656;
}
.bzi-facebook-icon:before {
  content: "\e90f";
  color: #064635;
}
.bzi-youtube-icon:before {
  content: "\e910";
  color: #064635;
}
.bzi-instagram-icon:before {
  content: "\e911";
  color: #064635;
}
.bzi-tiktok-icon:before {
  content: "\e912";
  color: #064635;
}
.bzi-briefcase:before {
  content: "\e913";
}
.bzi-globe:before {
  content: "\e914";
}
.bzi-arrow_forward:before {
  content: "\e915";
}
.bzi-phone:before {
  content: "\e916";
}
.bzi-calculator:before {
  content: "\e917";
}
.bzi-notification:before {
  content: "\e918";
}
.bzi-share:before {
  content: "\e919";
}
.bzi-twitter:before {
  content: "\e91a";
}
.bzi-instagram:before {
  content: "\e91b";
}
.bzi-search:before {
  content: "\e91c";
}
.bzi-minus:before {
  content: "\e91d";
}
.bzi-plus:before {
  content: "\e91e";
}
.bzi-long-arrow:before {
  content: "\e91f";
}
.bzi-home:before {
  content: "\e920";
}
.bzi-play:before {
  content: "\e921";
}
.bzi-date:before {
  content: "\e922";
}
.bzi-angle-down:before {
  content: "\e923";
}
.bzi-angle-up:before {
  content: "\e924";
}
.bzi-hand-shake:before {
  content: "\e925";
}
.bzi-filter:before {
  content: "\e926";
}
.bzi-caret-right:before {
  content: "\e927";
}
.bzi-caret-left:before {
  content: "\e928";
}
.bzi-caret-up:before {
  content: "\e929";
}
.bzi-caret-down:before {
  content: "\e92a";
}
.bzi-angle-right:before {
  content: "\e92b";
}
.bzi-angle-left:before {
  content: "\e92c";
}
.bzi-history:before {
  content: "\e92d";
}
.bzi-loading:before {
  content: "\e92e";
}
.bzi-eye:before {
  content: "\e92f";
}
.bzi-mail:before {
  content: "\e930";
}
.bzi-lock:before {
  content: "\e931";
}
.bzi-logout:before {
  content: "\e932";
}
.bzi-map-marker:before {
  content: "\e933";
}
.bzi-eye-close:before {
  content: "\e934";
}
.bzi-clock:before {
  content: "\e935";
}
.bzi-people:before {
  content: "\e936";
}
.bzi-reward:before {
  content: "\e937";
}
.bzi-settings:before {
  content: "\e938";
}
.bzi-download:before {
  content: "\e939";
}
.bzi-close:before {
  content: "\e93a";
}
.bzi-attachment:before {
  content: "\e9cd";
}
.bzi-user:before {
  content: "\f007";
}
.bzi-edit:before {
  content: "\f044";
}
.bzi-check-circle:before {
  content: "\f058";
}
.bzi-facebook-square:before {
  content: "\f082";
}
.bzi-linkedin:before {
  content: "\f08c";
}
.bzi-chain:before {
  content: "\f0c1";
}
.bzi-bars:before {
  content: "\f0c9";
}
.bzi-angle-double-left:before {
  content: "\f100";
}
.bzi-angle-double-right:before {
  content: "\f101";
}
.bzi-youtube:before {
  content: "\f16a";
}
.bzi-fax:before {
  content: "\f1ac";
}
.bzi-cross1:before {
  content: "\ea11";
}
.bzi-cross:before {
  content: "\ea10";
}